<?xml version="1.0"?>
<config>
      <modules>
        <Yli_MongoLog>
          <version>0.1.0</version>
        </Yli_MongoLog>
      </modules>
      <global>
          <blocks>
		      <mongolog>
		        <class>Yli_MongoLog_Block</class>
		      </mongolog>
		    </blocks>
          <helpers>
            <mongolog>
              <class>Yli_MongoLog_Helper</class>
            </mongolog>
          </helpers>
          <models>
             <mongolog>
                <class>Yli_MongoLog_Model</class>
                <resourceModel>mongolog_mongo</resourceModel>
             </mongolog>
             <mongolog_mongo>
		        <class>Yli_MongoLog_Model_Mongo</class>
		     </mongolog_mongo>
          </models>
          <log>
            <core>
                <writer_model>Yli_MongoLog_Model_Logwriter</writer_model>
            </core>
          </log>
      </global>
        <admin>
		    <routers>
		      <adminhtml>
		        <args>
		          <modules>
		            <Yli_MongoLog>Yli_MongoLog_Adminhtml</Yli_MongoLog>
		          </modules>
		        </args>
		      </adminhtml>
		    </routers>
		  </admin>
      <default>
	    	<dev>
	    		<mongolog>
		    		<server>localhost</server>
		    		<port>27017</port>
		    		<db>magento</db>
		    		<collection>log</collection>
		    		<split_file>0</split_file>
	    		</mongolog>
	    	</dev>
	  </default>
</config>